body, html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'PT Serif', serif;
}

.navbar .navbar-brand .navbar-item .nav_logo {
  max-height: 6rem;
}

.page_is_selected {
  background-color:#830404;
  color:white;
}

.card + .card {
	margin-top: 20px
}

.dont-flex {
	display: unset;
}

.dont-flex p {
	padding: 5px 20px;
}

.column {
  margin: 0.75rem;
  padding: 0;
}

.panel:not(:last-child) {
  margin: 0.75rem;
}