body, html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'PT Serif', serif;
}

.navbar .navbar-brand .navbar-item .nav_logo {
  max-height: 6rem;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.heading h1 {
  font-style: italic;
}

.page_is_selected {
  background-color:#830404;
  color:white;
}

.card + .card {
	margin-top: 20px
}

.dont-flex {
	display: unset;
}

.dont-flex p {
	padding-left: 20px;
}	