body, html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'PT Serif', serif;
}

.navbar .navbar-brand .navbar-item .nav_logo {
  max-height: 6rem;
}

.add-margin-top {
  margin-top: 2rem;
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
}

.heading h1 {
  font-style: italic;
}

.page_is_selected {
  background-color:#830404;
  color:white;
}

.card + .card {
	margin-top: 20px
}

.dont-flex {
	display: unset;
}

.dont-flex p {
	padding: 5px 20px;
}

.column {
  margin: 0.75rem;
  padding: 0;
}

.panel:not(:last-child) {
  margin: 0.75rem;
}

.start-page-main {
    position: relative;
    height: auto;
    min-height: 300px;
    /* overflow: hidden; */
}

.imagecontainer {
    width: auto;
    height: auto;
    /* min-height: 300px; */
    cursor: pointer;
    position: absolute;
    background-color: white;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0s ease-in 2.5s;
    z-index: 0;
}

.imagecontainer.visible {
    /* min-height: 300px; */
    transition: opacity 2s;
    opacity: 1;
    z-index: 1;
}